/* All NEWS */
.section-container.all-news {
    background: url(../images/worldmap.png) no-repeat top left;
}

.section-container.all-news .swiper-container {
  height: 1600px;
  width: 100%;
  position: relative;
}

.section-container.all-news .swiper-container .swiper-slide {
  height: auto;
  overflow: hidden;
  margin-top: 50px !important;
}

.section-container.all-news .swiper-container .swiper-slide .card {
  height: 450px;
  position: relative;
}

.section-container.all-news,
.section-container.all-news .max-width-wrapper {
  position: relative;
}

.section-container.all-news .industry-news-header {
  display: flex;
  justify-content: center;
}

.section-container.all-news .industry-news-header div {
  border-bottom: 5px solid #ffc73c;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 800;
}

.section-container.all-news .swiper-slide {
  display: flex;
  justify-content: center;
  position: relative;
}

.section-container.all-news .swiper-slide .image-container {
  width: 100%;
  overflow: hidden;
}

.section-container.all-news .swiper-slide .image-container .image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.section-container.all-news .swiper-slide .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffba15;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 150px;
}

.section-container.all-news .swiper-slide .description .header {
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 800;
  padding-bottom: 20px;
}

.section-container.all-news .swiper-slide .description .readmore {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 1.4px;
}

/*Navigator*/

.all-news .navigator {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: #252525
}

.all-news .navigator i {
    font-size: 2rem;
    margin: 0px 20px;
    position: relative;
    top:1px
}

.all-news .navigator .previous ,
.all-news .navigator .next
{
    padding: 0px 20px;
    display: flex;
    align-items: center ;
    cursor: pointer;
}

.all-news .navigator .previous.none ,
.all-news .navigator .next.none {
   display: none;
}

.all-news .navigator .previous {
    border-right: 1px solid #252525 ;
}
.all-news .navigator .previous.alone {
    border-right: none ;
}

